.btn-info {
  background-color:gainsboro;
  border-color: azure;
}

.btn-info:hover {
  background-color: transparent;
  color: azure;
  border-color: azure;
}

.btn-info:focus {
  color: #fff;
  background-color:darkgray;
  border-color: darkgray;
  box-shadow: inset -1px 3px 8px 5px azure, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

.btn-info:active {
  background-color: transparent !important;
  color: azure !important;
  border-color: azure !important;
  box-shadow: none !important;
}
